html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
}
body{
    font-size: 16px;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    background-color: white;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

ol,
ul{
    text-align: left;
    display: inline-block;
}

h1{
    font-style: italic;
    font-size: 36px;
    font-weight: 800;
    color: #ffffff;
   /* background-color: rgb(182, 255, 130); */
}

h2{
    text-decoration: underline;
    font-size: 26px;
}

a{
    background-color: rgb(100, 0, 27);
    color: #ffffff;
    text-decoration: none;
}

.page{
    background-color: rgb(223, 5, 63);
    background-repeat:repeat;
    background-attachment: scroll;
    height: 100%;
    width: 50%;
    min-height: 100vh;
    margin: 0px auto;
    padding: 10px 40px;

}
