body{
    font-size: 16px;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    background-color: rgb(241, 117, 117);
    color: white;
}

ol,
ul{
    text-align: left;
    display: inline-block;
}

h1{
    font-style: italic;
    font-size: 36px;
    font-weight: 800;
    color: #ffffff;
   /* background-color: rgb(182, 255, 130); */
}

h2{
    text-decoration: underline;
    font-size: 26px;
}

a{
    background-color: rgba(255, 0, 0, 0.671);
    color: #ffffff;
    text-decoration: none;
}
